// nextflow.config template for local and slurm profiles
includeConfig 'configs/base.config'

manifest {
  name = 'The Works'
  author = 'Excel Que'
  version = '0.0.1'
  description = 'Soup-to-nuts FASTQ to variant call pipeline.'
  nextflowVersion = '>=23.04.0'
}

profiles {
    standard {
        process.executor = 'local'
        process.cpus = 4
    }
    slurm {
        process.executor = 'slurm'
        process.cpus = 4
        process.memory = '8 GB'
        process.time = '4h'
    }
}
