// nextflow.config template for local and slurm profiles
includeConfig 'configs/basic.config'

profiles {
    standard {
        process.executor = 'local'
    }
    slurm {
        process.executor = 'slurm'
        process.cpus = 4
        process.memory = '8 GB'
        process.time = '4h'
    }
}
