params { 
    definitions {
        fastq_dir {
            default_value = null
            type = "path"
            description = "Path to fastq directory"
            required = true
            allow = ["*"]
        }
        out_dir {  
            default_value = "results"
            type = "path"
            description = "Outputs go here" 
            required = false
            allow = ["*"]
        }
        reference_dir {
            default_value = "/home/exfactor/projects/data/references/genome"
            type = "path"
            description = "Path to a directory containing bwa-indexed reference files"
            required = false
            allow = ["*"]
        }
        known_variants_dir { 
            default_value = "/home/exfactor/projects/data/references/known_variants"
            type = "path"
            description = "Path to a directory containing vcfs of known variants used to recalibrate base quality scores"
            required = false
            allow = ["*"]
        }
        bwa_cpus {
            default_value = 4
            type = "integer"
            description = "Number of threads to use for alignment"
            required = false
            min = 1
            max = 8 
        }
        test_flag {
            type = "flag"
            description = "Testing a param flag"
            required = false
        }
        test_string {
            default_value = "stringA"
            type = "string"
            description = "Test string"
            required = false
            allow = ["stringA", "stringB"]
        }    
        help {
            type = "flag" // Define it as a flag
            description = "Print this help message and exit."
            required = false
        }
    }
}



